<div class="weather-body">
    <h2>Weather Request</h2>
      <div class="weather-container">
        <mat-form-field fxFlex="50%">
          
          <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
            <input matInput type="text" placeholder="City" [(ngModel)]="city" fxFlex/>
            <button mat-raised-button 
              label="Get Weather" 
              (click)="getWeather()" 
              class="get-weather-button">
                Get weather
                <mat-icon>search</mat-icon>
            </button>
          </div>
        </mat-form-field>
      </div>    
    <div *ngIf="errorMessage" class="error-message">
        <mat-card class="error-message">
          <mat-card-header>
            <mat-icon>error</mat-icon>
          </mat-card-header>
          <mat-card-content>
            <p>{{ errorMessage }}</p>
          </mat-card-content>
        </mat-card>
    </div>
    <div *ngIf="weatherData" class="">
      <h3>Weather for {{ weatherData.city }}</h3>
      <p>Temperature: {{ weatherData.temperature }}°C</p>
      <p>Humidity: {{ weatherData.humidity }}%</p>
      <p>Description: {{ weatherData.description }}</p>
    </div>
  </div>
  
