<div class="p-fluid">
    <h2>Weather History</h2>
  
    <table mat-table [dataSource]="history" class="mat-table">
      id: number;
      city: string;
      date: string;
      weatherDataId: number;
      weatherData: string;

      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef> City </th>
        <td mat-cell *matCellDef="let element"> {{element.city}} </td>
      </ng-container>
  
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>
  
      <ng-container matColumnDef="weather">
        <th mat-header-cell *matHeaderCellDef> Weather </th>
        <td mat-cell *matCellDef="let element"> {{element.weatherData}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div *ngIf="errorMessage" class="error-message">
        <mat-error>
          {{errorMessage}}
        </mat-error>
    </div>
  </div>
  
