<mat-toolbar class="header-toolbar" fxLayout="row" fxLayoutAlign="space-between center" >
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="20%">
      <h1>Weather App</h1>
      <button mat-icon-button *ngIf="isLoggedIn" label="Weather Request" routerLink="/weather" routerLinkActive="active">
        <mat-icon>cloudy</mat-icon>
      </button>
      <button mat-icon-button *ngIf="isLoggedIn" label="Weather History" routerLink="/history" routerLinkActive="active">
        <mat-icon>history</mat-icon>
      </button>
    </div>
    
    <div fxLayout="row" fxLayoutAlign="end center">
      <button mat-icon-button *ngIf="!isLoggedIn" routerLink="/login" matTooltipPosition="right" matTooltipShowDelay="200"
        matTooltipHideDelay="100" matTooltip="Login">
        <mat-icon>login</mat-icon>
      </button>
      <button mat-icon-button *ngIf="isLoggedIn" matTooltip="Logout" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </mat-toolbar>
