<div fxLayout="column" fxLayoutAlign="center center" class="login-container">
    <mat-card class="login-card">
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <form fxLayout="column" fxLayoutAlign="center stretch" [formGroup]="loginForm">
          
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <mat-icon matPrefix>mail</mat-icon>
            <input matInput type="email" placeholder="Enter your email" formControlName="email" name="email" required>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <mat-icon matPrefix>lock</mat-icon>
            <input matInput type="password" placeholder="Enter your password" formControlName="password" name="password" required>
          </mat-form-field>
  
          <button mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="onLogin()" class="login-btn">Login</button>
  
        </form>
      </mat-card-content>
  
      <mat-card-actions fxLayout="row" fxLayoutAlign="space-between">
        <a href="#" class="forgot-password">Forgot Password?</a>
        <a href="#" class="sign-up">Sign Up</a>
      </mat-card-actions>
    </mat-card>
  </div>
  